<div class="row">
<div class="col">
  <fieldset id="networks">
    <legend>Filter by your favorite network:</legend>
    {{#each networks as |network|}}
      <label for="net-{{network.name}}">{{network.name}}</label>
      <input type="radio" id="net-{{network.name}}" name="network" value="{{network.id}}">
    {{/each}}
  </fieldset>
  <button class="btn btn-outline-secondary" id="reset-categories">Reset</button>
</div>
</div>

{{#each posts as |post|}}
<div class="center-post">
  <div class="card card-color" style="width: 80%;">
    <div class="card-body">
      <h5 class="card-title card-text-c">Username: {{post.user.username}}</h5>
      <h6 class="card-subtitle mb-2 card-text-c">Network: {{post.show.network.name}}</h6>
      <h6 class="card-subtitle mb-2 card-text-c">Show/Movie: {{show.title}}</h6>
      <p class="card-text card-text-c">Blog: {{post.text_content}}</p>
    </div>
  </div>
</div>
{{/each}}
<footer class="footer-bkg">
    <h1><a href="/" class="fontBlack">Home</a></h1>
    <div class="separator"></div>
    <h1><a href="/post" class="fontBlack btn-post">Post</a></h1>
    <div class="separator"></div>
    {{#if loggedIn}}
    <h1><a href="/" class="fontBlack btn-logout1">Logout</a></h1>
    {{else}}
    <h1><a href="/login" class="fontBlack">Login</a></h1>
    {{/if}}
  </footer>

  <script src='/js/home.js'></script>